@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* overflow: hidden; Removed to allow scrolling */
  background-color: #000;
  font-family: 'Inter', sans-serif;
}